build
.gradle

# deb packaging
src/installer/deb/debian/debhelper-build-stamp
src/installer/deb/debian/files
src/installer/deb/debian/kosmos-cp1.debhelper.log
src/installer/deb/debian/kosmos-cp1.substvars
src/installer/deb/debian/kosmos-cp1/
src/installer/kosmos-cp1_*.changes

# See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/Gradle__*
